.header-wrapper {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    width: px2rem(1080);
    margin: 0 auto;
    padding-top: px2rem(30);
    padding-bottom: px2rem(20);
  
    .left-block {
      justify-content: space-between;
      padding-top: px2rem(5);

      .header-logo {
        height: px2rem(50);
        margin-right: px2rem(15);
      }

      .personal-info {
        color: $white;

        p {
          margin-top: 0;
        }

        .name {
          font-size: px2rem(25);
          font-weight: 600;
          margin-bottom: px2rem(7);
          letter-spacing: px2rem(-1);
        }

        .title {
          font-size: px2rem(16);
          letter-spacing: px2rem(1);
        }
      }
    }

    .right-block {

      .nav-button {
        background-color: transparent;
        border: 0;
        outline: 0;
        color: $white;
        cursor: pointer;
        font-size: px2rem(24);
        font-weight: 600;
        padding: px2rem(20) px2rem(30);

        &:hover {
          color: $red_primary;
        }

        &.active {
          border-bottom: 5px solid $red_primary;
        }
      }
    }
  }
}
