#landing-page {

  .top-block {
    position: relative;

    .background-block {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;

      .background-image {
        width: 100%;
      }
  
      .gray-layer {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $black;
        opacity: 0.25;
        width: 100%;
        height: 100%;
      }
    }
  }
}