* {
  box-sizing: border-box;
  font-family: 'Open sans';
}

input {
  border: 1px solid $gray;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
  margin-bottom: 0;
}

a:hover,
a:active,
a:focus {
  color: $red_primary;
  outline: none;
}

button:focus {
  outline: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
