$rem-base: 16;

// colors
$white: #fff;

$black: #000;
$gray: #7d7d7d;
$warm_grey: #7c7c7c;
$default-text: #212529;
$red_primary: #ff0047;

$border-line: #d8d8d8;
$border-line-2: #080808;

//animation
$animation-duration-fast: 0.3s;
$animation-duration-normal: 0.4s;
$animation-duration-default: 0.5s;
$animation-duration-slow: 0.6s;
$animation-duration-medium: 1s;